@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    box-sizing: border-box; /* Zerando o padrão do navegador*/
  }

body { /* Estilizando o corpo da pagina */
    
    font-family: "Poppins", sans-serif;
    background: rgb(236,212,222);
    background: radial-gradient(circle, rgba(236,212,222,1) 0%, rgba(247,250,214,0.938813025210084) 100%);
    
}

.container span { 
 
    color: #333;
    font-size: 26px;
    text-align: center;
  

}

.container { 
    width: 100vw;
    height: 100vh;
    padding: 0 2rem;
 }

ul, 
li { 
    list-style: none;
    color: black;
}


a { 
    text-decoration: none;
    color: black;
    
}

header { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
   
}
.menu { 
    display: flex;
}

.menu li { 
    margin: 20px;
  
}

.menu li a { 
    padding: 10px;
}


.container .container-form form { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}


.container .container-form { 
  width: 100%;
  max-width: 500px;
  margin: 10px;
  text-align: start;
  border-radius: 50px;
  border: none;
  justify-content: center;
  align-items: center;

}

.container .container-form form { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: stretch;
    row-gap: 20px;
    column-gap: 20px;
    align-items: center;
    grid-auto-columns: 100px;
    
}

.container_input input { 
  position: relative;
  border: none;
  margin-top: 15px;
  margin: 5px;
  background-color: rgba(253, 253, 253, 0.096);
  width: 300%px;    
  border-bottom: 2px solid rgb(221, 210, 210)
}

.container .botao button {
display: block;
width: 200px;
height: 30px;
border-radius: 25px;
outline: none;
border: none;
background-image: linear-gradient(to right, #7d7be4fd, #614be0, #6c57a8);
background-size: 200%;
font-size: 1.2rem;
color: #fff;
margin: 1rem 0;
cursor: pointer;
transition: .5s;
}

